@page "/employees"

@if (_successfulFetch)
{
    <div class="row">
        <div class="col">
            <EmployeeTable Employees="EmployeeList" Teams="TeamList" Technologies="TechnologyList" IsOnline="_isOnline"/>
        </div>
    </div>
}
else
{
    <OfflineReport/>
}

