@page "/employees"
@using Client.Components
@inject HttpClient Http

<div class="row">
    <div class="col-md-2">
        <a href="/createProduct">Create Employee</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <EmployeeTable Employees="EmployeeList"/>
    </div>
</div>