@page "/projects"
@using Client.Components

<div class="row">
    <div class="col-md-2">
        <a href="/createProject">Create a new project</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <ProjectTable Projects="ProjectList"/>
    </div>
</div>