@page "/teams"
@using Client.Components

<div class="row">
    <div class="col-md-2">
        <a href="/createTeam">Create a new team</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <TeamTable Teams="TeamList"/>
    </div>
</div>