@page "/teams"

@if (_successfulFetch)
{
    <div class="row">
        <div class="col">
            <TeamTable Teams="TeamList" Projects="ProjectList" IsOnline="_isOnline"/>
        </div>
    </div>
}
else
{
    <OfflineReport/>
}