@page "/technologies"

@if (_successfulFetch)
{
    <div class="row">
        <div class="col">
            <TechnologyTable Technologies="TechnologyList" Categories="TechnologyCategoryList" IsOnline="_isOnline"/>
        </div>
    </div>
}
else
{
    <OfflineReport/>
}