@page "/technologies"
@using Client.Components

<div class="row">
    <div class="col-md-2">
        <a href="/createTechnology">Create a new technology</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <TechnologyTable Technologies="TechnologyList"/>
    </div>
</div>